.content h1 {
  margin: 1.5rem 0 .5rem 0;
}

.ratings form {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  position: relative;
}

.number-ratings {
  font-size: 1rem;
}


label {
  display: flex;
  place-content: center;
  z-index: 1;
}

label::after {
  content: '';
  background-color: var(--color4);
  padding: 1.375rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  bottom: -10px;
}

label:hover::after,
label:hover {
  background-color: var(--color2);
  color: var(--color1);
}