.hero-area img {
  margin-bottom: 2rem;
  max-width: 100%;
  justify-self: center;
}

.hero-area span {
  padding: 8px 15px;
  background-color: var(--color4);
  max-width: 100%;
  border-radius: 26px;
}

.message {
  max-width: 35ch;
}